<%= form_with(model: image) do |form| %>
  <% if image.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(image.errors.count, "error") %> prohibited this image from being saved:</h2>

      <ul>
        <% image.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :imageable_type, style: "display: block" %>
    <%= form.text_field :imageable_type %>
  </div>

  <div>
    <%= form.label :imageableID, style: "display: block" %>
    <%= form.number_field :imageable_id %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
